In [1]:
# Extract the AusTalk dataframe such that only 4 speakers corresponding to each transcription

In [23]:
import pandas as pd
import random

In [24]:
data_fp = '/srv/scratch/z5313567/thesis/AusTalk_local/story_sentences/full/AusTalk_story_sentences_full_dataframe.csv'
save_fp = '/srv/scratch/z5313567/thesis/AusTalk_local/story_sentences/full_v4_select_speaker/AusTalk_story_sentences_full_dataframe_v4.csv'

In [25]:
data = pd.read_csv(data_fp)

In [26]:
group_data = data.groupby('transcription')

In [27]:
new_data = pd.DataFrame(columns=['filepath', 'duration', 'speaker_id', 'transcription', 'audio_id'])

In [28]:
num_speakers_per_sentence = 4;

In [29]:
for _, group in group_data:
    if len(group) >= num_speakers_per_sentence:
        unique_speakers = group['speaker_id'].unique()
        speakers = random.sample(list(unique_speakers), num_speakers_per_sentence)
        for speaker in speakers:
            new_rows = group[group['speaker_id'] == speaker]
            new_data = pd.concat([new_data, new_rows], ignore_index=True)

In [30]:
print("\n---------------------------> Saving dataframe to csv file... ------------------\n")
new_data.to_csv(save_fp, index=False)
print('Successfully saved dataframe to csv file at: ', save_fp)
print("Total speech files:", len(new_data["filepath"]))
print("Total number of speakers:", len(set(new_data["speaker_id"])))
print("Total hours:", new_data['duration'].sum()/(60*60))

---------------------------> Saving dataframe to csv file... ------------------

Successfully saved dataframe to csv file at:  /srv/scratch/z5313567/thesis/AusTalk_local/story_sentences/full_v4_select_speaker/AusTalk_story_sentences_full_dataframe_v4.csv
Total speech files: 201
Total number of speakers: 175
Total hours: 0.49523126732174355

In [3]:
data = pd.read_csv(data_fp)

In [ ]:
num_speakers_per_sentence = 4;
seed = 230;

In [ ]:
selected_speakers = data['speaker_id'].sample(n=num_speakers_per_sentence, random_state=seed).tolist()

In [ ]:
new_dataset = data[data['speaker_id'].isin(selected_speakers)]

In [ ]:
print("\n---------------------------> Saving dataframe to csv file... ------------------\n")
new_dataset.to_csv(save_fp, index=False)
print('Successfully saved dataframe to csv file at: ', save_fp)
print("Total speech files:", len(new_dataset["filepath"]))
print("Total number of speakers:", len(set(new_dataset["speaker_id"])))
print("Total hours:", new_dataset['duration'].sum()/(60*60))

---------------------------> Saving dataframe to csv file... ------------------

Successfully saved dataframe to csv file at:  /srv/scratch/z5313567/thesis/AusTalk_local/story_sentences/full_v4_select_speaker/AusTalk_story_sentences_full_dataframe_v4.csv
Total speech files: 262
Total number of speakers: 4
Total hours: 0.5344217309145881

In [ ]:
new_dataset

,filepath,duration,speaker_id,transcription,audio_id
7966,/srv/scratch/speechdata/speech-corpora/AusTalk...,21.362404,4_441,ONCE UPON A TIME THERE WAS A YOUNG RAT NAMED A...,4_441-4_441_1_3_001
7967,/srv/scratch/speechdata/speech-corpora/AusTalk...,32.693696,4_441,ONE FINE DAY HIS AUNT ZELDA APPEALED TO HIM NO...,4_441-4_441_1_3_002
7968,/srv/scratch/speechdata/speech-corpora/AusTalk...,40.588526,4_441,ONE NIGHT THE RATS HEARD A LOUD NOISE THEY LIV...,4_441-4_441_1_3_003
7969,/srv/scratch/speechdata/speech-corpora/AusTalk...,28.142585,4_441,A LITTLE LATER ON IN THE EVENING THEY CAME BAC...,4_441-4_441_1_3_004
7970,/srv/scratch/speechdata/speech-corpora/AusTalk...,13.467574,4_441,I THINK I'LL GO TOMORROW HE SAID TO HIMSELF BU...,4_441-4_441_1_3_006
...,...,...,...,...,...
29284,/srv/scratch/speechdata/speech-corpora/AusTalk...,3.715193,3_135,PLEASE I FEEL TOO LETHARGIC TO WASH UP TONIGHT,3_135-3_135_2_16_055
29285,/srv/scratch/speechdata/speech-corpora/AusTalk...,6.873152,3_135,THE PLANE FLEW DOWN LOW OVER THE RUNWAY THEN I...,3_135-3_135_2_16_056
29286,/srv/scratch/speechdata/speech-corpora/AusTalk...,6.315828,3_135,AFTER A GAFFE LIKE THAT IT IS FUTILE TO OFFER ...,3_135-3_135_2_16_057
29287,/srv/scratch/speechdata/speech-corpora/AusTalk...,6.315828,3_135,THE CHILL WIND CAUSED THE TWINS TO SHIVER VIOL...,3_135-3_135_2_16_058
29288,/srv/scratch/speechdata/speech-corpora/AusTalk...,7.801905,3_135,SHARON WATCHED THE HELICOPTER AS IT LIFTED OFF...,3_135-3_135_2_16_059

In [26]:
new_data = pd.DataFrame(columns=['filepath', 'duration', 'speaker_id', 'transcription'])

In [27]:
# define the number of sentences to extract per speaker 
sentences_per_speaker = 3
# define the seed
seed = 230;

In [28]:
group_data = data.groupby('speaker_id')

In [29]:
for _, group in group_data:
    if len(group) <= sentences_per_speaker:
        new_data = pd.concat([new_data, group])
    else:
        random_sentences = group.sample(n=sentences_per_speaker, random_state=seed)
        new_data = pd.concat([new_data, random_sentences])

In [25]:
print("\n---------------------------> Saving dataframe to csv file... ------------------\n")
new_data.to_csv(save_fp, index=False)
print('Successfully saved dataframe to csv file at: ', save_fp)
print("Total speech files:", len(new_data["filepath"]))
print("Total number of speakers:", len(set(new_data["speaker_id"])))
print("Total hours:", new_data['duration'].sum()/(60*60))

---------------------------> Saving dataframe to csv file... ------------------

Successfully saved dataframe to csv file at:  /srv/scratch/z5313567/thesis/AusTalk_local/story_sentences/full_v4_select_speaker/AusTalk_story_sentences_full_dataframe_v4.csv
Total speech files: 2327
Total number of speakers: 777
Total hours: 5.023844129503653