In [2]:
import pandas as pd

In [3]:
fp_1_train = '/srv/scratch/z5313567/thesis/AusKidTalk_local/spontaneous_v2/AusKidTalk_spontaneous_dataframe_v2.csv'

fp_2_train = '/srv/scratch/z5313567/thesis/AusKidTalk_local/AusKidTalk_spontaneous_dataframe.csv'

'''
fp_1_dev = '/srv/scratch/z5313567/thesis/CU_local/CU_full_dev_dataframe_15sec.csv'
fp_1_test = '/srv/scratch/z5313567/thesis/CU_local/CU_full_test_dataframe_15sec.csv'

fp_2_train = '/srv/scratch/z5313567/thesis/MyST_local/myST_train_15sec.csv'
fp_2_dev = '/srv/scratch/z5313567/thesis/MyST_local/myST_dev_15sec.csv'
fp_2_test = '/srv/scratch/z5313567/thesis/MyST_local/myST_test_15sec.csv'

fp_3_train = '/srv/scratch/z5313567/thesis/AusKidTalk_local/AusKidTalk_train_dataframe.csv'
fp_3_dev = '/srv/scratch/z5313567/thesis/AusKidTalk_local/AusKidTalk_dev_dataframe.csv'
fp_3_test = '/srv/scratch/z5313567/thesis/AusKidTalk_local/AusKidTalk_test_dataframe.csv'
'''
combined_fp_train = '/srv/scratch/z5313567/thesis/AusKidTalk_local/spontaneous_v2/AusKidTalk_spontaneous_dataframe_combined_v2.csv'
#combined_fp_dev = '/srv/scratch/z5313567/thesis/CU_MyST_AusKidTalk_local/CU_MyST_AusKidTalk_dev_15sec.csv'
#combined_fp_test = '/srv/scratch/z5313567/thesis/CU_MyST_AusKidTalk_local/CU_MyST_AusKidTalk_test_15sec.csv'

In [34]:
df_1_train = pd.read_csv(fp_1_train)
df_1_dev = pd.read_csv(fp_1_dev)
df_1_test = pd.read_csv(fp_1_test)

df_2_train = pd.read_csv(fp_2_train)
df_2_dev = pd.read_csv(fp_2_dev)
df_2_test = pd.read_csv(fp_2_test)

df_3_train = pd.read_csv(fp_3_train)
df_3_dev = pd.read_csv(fp_3_dev)
df_3_test = pd.read_csv(fp_3_test)

In [35]:
combined_df_train = pd.concat([df_1_train, df_2_train, df_3_train], ignore_index=True)
combined_df_dev = pd.concat([df_1_dev, df_2_dev, df_3_dev], ignore_index=True)
combined_df_test = pd.concat([df_1_test, df_2_test, df_3_test], ignore_index=True)

In [36]:
print(f'---------------Saving combined training dataframe to {combined_df_train}-------------------\n')
combined_df_train.to_csv(combined_fp_train, index=False)

duration = combined_df_train['duration'].sum()
num_speakers = combined_df_train['speaker_id'].nunique()

print(f'Total duration in combined training dataset is {duration/(60*60)} hours')
print(f'The total number of speakers is {num_speakers}')
print(f'The total number of speeches is {len(combined_df_train)}\n')

---------------Saving combined training dataframe to                                                  filepath  duration
0       /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  5.580091  \
1       /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  7.280000
2       /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  9.410068
3       /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  6.360091
4       /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  2.540091
...                                                   ...       ...
123997  /srv/scratch/chacmod/auskidtalk_audio/1050_tas...  0.853436
123998  /srv/scratch/chacmod/auskidtalk_audio/1050_tas...  0.840000
123999  /srv/scratch/chacmod/auskidtalk_audio/1050_tas...  0.780000
124000  /srv/scratch/chacmod/auskidtalk_audio/1050_tas...  0.840000
124001  /srv/scratch/chacmod/auskidtalk_audio/1050_tas...  0.802460

        speaker_id  transcription
0           200247            PUT
1           200247            PUT
2           200247            PUT
3           200247            PUT
4           200247          OFTEN
...            ...            ...
123997        1050      four eggs
123998        1050    one o clock
123999        1050    two o clock
124000        1050  three o clock
124001        1050   four o clock

[124002 rows x 4 columns]-------------------

Total duration in combined training dataset is 133.8245510306792 hours
The total number of speakers is 1206
The total number of speeches is 124002

In [37]:
print(f'---------------Saving combined development dataframe to {combined_df_dev}-------------------\n')
combined_df_dev.to_csv(combined_fp_dev, index=False)

duration = combined_df_dev['duration'].sum()
num_speakers = combined_df_dev['speaker_id'].nunique()

print(f'Total duration in combined development dataset is {duration/(60*60)} hours')
print(f'The total number of speakers is {num_speakers}')
print(f'The total number of speeches is {len(combined_df_dev)}\n')

---------------Saving combined development dataframe to                                                 filepath  duration
0      /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  0.930023  \
1      /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  3.525034
2      /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  0.970023
3      /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  1.170023
4      /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  1.165034
...                                                  ...       ...
24582  /srv/scratch/chacmod/auskidtalk_audio/246_task...  1.040006
24583  /srv/scratch/chacmod/auskidtalk_audio/246_task...  0.960000
24584  /srv/scratch/chacmod/auskidtalk_audio/246_task...  0.870000
24585  /srv/scratch/chacmod/auskidtalk_audio/246_task...  0.870000
24586  /srv/scratch/chacmod/auskidtalk_audio/246_task...  0.971023

       speaker_id       transcription
0          301054               HUMID
1          301054  RED DEDE REDDENING
2          301054             HAITIAN
3          301054              MOUTHS
4          301054               AE AE
...           ...                 ...
24582         246           four eggs
24583         246         one o clock
24584         246         two o clock
24585         246       three o clock
24586         246        four o clock

[24587 rows x 4 columns]-------------------

Total duration in combined development dataset is 26.61719993275077 hours
The total number of speakers is 260
The total number of speeches is 24587

In [38]:
print(f'---------------Saving combined testing dataframe to {combined_df_test}-------------------\n')
combined_df_test.to_csv(combined_fp_test, index=False)

duration = combined_df_test['duration'].sum()
num_speakers = combined_df_test['speaker_id'].nunique()

print(f'Total duration in combined testing dataset is {duration/(60*60)} hours')
print(f'The total number of speakers is {num_speakers}')
print(f'The total number of speeches is {len(combined_df_test)}\n')

---------------Saving combined testing dataframe to                                                 filepath  duration
0      /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  1.525034  \
1      /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  1.165034
2      /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  2.895011
3      /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  3.290023
4      /srv/scratch/chacmod/CU_2/corpus/data/train-pa...  0.920000
...                                                  ...       ...
24620  /srv/scratch/chacmod/auskidtalk_audio/166_task...  1.230000
24621  /srv/scratch/chacmod/auskidtalk_audio/166_task...  0.995224
24622  /srv/scratch/chacmod/auskidtalk_audio/166_task...  0.960000
24623  /srv/scratch/chacmod/auskidtalk_audio/166_task...  1.020000
24624  /srv/scratch/chacmod/auskidtalk_audio/166_task...  0.960000

       speaker_id                          transcription
0          402030                                     SH
1          402030                                  VYING
2          402030              FOUR NINE NINE THREE FIVE
3          402030  WATCH THE LOG FLOAT IN THE WIDE RIVER
4          402030                                     OF
...           ...                                    ...
24620         166                              four eggs
24621         166                            one o clock
24622         166                            two o clock
24623         166                          three o clock
24624         166                           four o clock

[24625 rows x 4 columns]-------------------

Total duration in combined testing dataset is 27.265018993811456 hours
The total number of speakers is 261
The total number of speeches is 24625